body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}


header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 1rem;
}

nav a {
    text-decoration: none;
    color: #fff;
}


main {
    padding: 2rem;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
 margin-top: auto;
}

.welcome {
    margin-top: 2rem;
    text-align: center;
}

.form-container {
    max-width: 400px;
    margin: 2rem auto;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.search-container {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}



.form-container label {
    display: block;
    margin-top: 1rem;
    font-weight: bold;
}

.form-container input[type="text"],
.form-container textarea {
    width: 95%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 0.2rem;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.2rem;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 30px;
    padding: 0.2rem;
    cursor: pointer;
    transition: color 0.3s; 
}


.rating label:hover,
.rating input:checked + label {
    color: black;
}

.rating label:hover ~ label,
.rating input:checked + label ~ label {
    color: grey;
}



.form-container button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.form-container button[type="submit"]:hover {
    background-color: #555;
}